.Comment {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  &:hover .right-div .delete-button {
    opacity: 1;
    cursor: pointer;
  }

  .left-div {
    display: flex;

    .comment-list-nickname {
      font-weight: bold;
      margin-right: 8px;
      color: black;
      text-decoration: none;
    }

    .comment-text {
      word-break: break-word;
      max-width: 430px;
    }
  }

  .right-div {
    display: flex;

    .delete-button {
      height: 14px;
      border: none;
      font-size: 14px;
      background-color: white;
      opacity: 0;
      outline: none;
    }

    .like-button {
      color: black;
      cursor: pointer;
      margin-right: 10px;
    }

    .fas {
      color: #ed4956;
    }
  }
}
